<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylen">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>

   <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_launcher_color"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_color"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".feature.util.MyApplication"
        android:usesCleartextTraffic="true">

        <!-- 스플래쉬 -->
        <activity
            android:name=".feature.others.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 네비게이션 -->
        <activity android:name=".feature.others.NavigationDrawer" >
        </activity>
        <activity android:name=".feature.others.BottomNavigation" />
        <activity android:name=".feature.others.ActionBar" />
        <activity android:name=".feature.calendar.FragmentCalendar" />
        <activity android:name=".feature.calendar.CalendarDate" />

        <!-- 로그인/회원가입 -->
        <activity android:name=".feature.sign.SignInActivity" />
        <activity android:name=".feature.sign.SignUp1Activity" />
        <activity android:name=".feature.sign.SignUp2Activity" />

        <!-- 프로필 -->
        <activity android:name=".feature.profile.ProfileActivity" />
        <activity android:name=".feature.profile.ProfileModifyActivity" />

        <!-- 메인 -->
        <activity android:name=".feature.home.MainFragment" />

        <!-- 렌즈 검색 -->
        <activity android:name=".feature.home.search.SearchLensActivity" />

        <!-- 렌즈 추가 -->
        <activity android:name=".feature.home.add.AddLens1Activity" />
        <activity android:name=".feature.home.add.AddLens2Activity" />
        <activity android:name=".feature.home.add.AddLens3Activity" />

        <!-- 세척액 추가 -->
        <activity android:name=".feature.home.add.AddLiquid1Activity" />
        <activity android:name=".feature.home.add.AddLiquid2Activity" />

        <!-- 눈운동 -->
        <activity android:name=".feature.eye.main.EyeMainFragment" />
        <activity android:name=".feature.eye.add.EyeAddFriend" />
        <activity android:name=".feature.eye.main.EyeFriendAdapter" />
        <activity android:name=".feature.eye.main.EyeMainFriendItem" />
        <activity android:name=".feature.eye.exercise.EyeEnd" />
        <activity android:name=".feature.eye.report.EyeReportFragmentPoint" />
        <activity android:name=".feature.eye.report.EyeReportMain" />
        <activity android:name=".feature.eye.exercise.EyeExercise2" />

        <!-- 알림 -->
        <activity android:name=".feature.notice.main.NoticeMain" />
        <activity android:name=".feature.notice.NoticeSet" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>