<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.others.SplashActivity" android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".feature.others.NavigationDrawer">
        </activity>
        <activity android:name=".feature.others.BottomNavigation"/>
        <activity android:name=".feature.others.ActionBar"/>
        <activity android:name=".feature.exercise.FragmentEyeMain" />
        <activity android:name=".feature.calendar.FragmentCalendar" />
        <activity android:name=".feature.calendar.CalendarDate"/>
        <activity android:name=".feature.exercise.EyeAddFriend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  로그인/회원가입  -->
        <activity android:name=".feature.sign.SignInActivity">

        </activity>
        <activity android:name=".feature.sign.SignUp1Activity" ></activity>
        <activity android:name=".feature.sign.SignUp2Activity"></activity>

        <!--  프로필  -->
        <activity android:name=".feature.profile.ProfileActivity">
        </activity>
        <activity android:name=".feature.profile.ProfileModifyActivity">
        </activity>

        <!--  메인  -->
        <activity android:name=".feature.home.MainFragment" />
        <activity android:name=".feature.home.MainLensOpenItem" />
        <activity android:name=".feature.home.MainLensKeepItem" />
        <activity android:name=".feature.home.MainLiquidOpenItem" />
        <activity android:name=".feature.home.MainLiquidKeepItem" />

        <!-- 렌즈 검색 -->
        <activity android:name=".feature.home.search.SearchLensActivity">
        </activity>
        <activity android:name=".feature.home.search.SearchLensItem" />
    </application>

</manifest>